manifest {
    description = 'Fun VCF tools'
}

profiles {
    standard {
        process {
            errorStrategy = 'ignore'
            maxerrors = 1
        }

        env {
            SCRIPT = "/home/docker/Code/FunVCF/bin"
        }
    }

    docker {
        docker {
            enabled = true
        }
        env {
            SCRIPT = "/home/docker/Code/FunVCF/bin"
        }
    }
}