manifest {
    description = 'Fun VCF tools'
}

profiles {
    debug {
        process {
            errorStrategy = 'retry'
            maxerrors = 1
        }
    }


    standard {
        process {
            errorStrategy = 'ignore'
            maxerrors = 1
        }
    }

    docker {
        docker {
            enabled = true
        }
        process {
            container = 'oxfordmmm/funvcf:v0.1.0'
        }
    }

    singularity {
        singularity {
            enabled = true
        }

        process {
            errorStrategy = 'retry'
            maxerrors = 1
            container = '/data/images/funvcf-v0.1.0.img'
        }
    }
}